[data-theme="light"] {
    --bg-color: #fff;
    --txt-color: #111;
    --numberpad-color: greenyellow;
    --numberpad-txt-color: #111;
    --btn-color: #111;
    --btn-txt-color: #fff;
    --disabled-bg-color: #ccc;
}

[data-theme="dark"] {
    --bg-color: #111;
    --txt-color: #fff;
    --numberpad-color: greenyellow;
    --numberpad-txt-color: #111;
    --btn-color: #ccc;
    --btn-txt-color: #111;
    --disabled-bg-color: #444;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #111;
        --txt-color: #fff;
        --btn-color: greenyellow;
        --btn-text-color: #111;
    }
} */

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: var(--bg-color);
    color: var(--txt-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 300ms all;
}